<!-- +HEAD BOILERPLATE -->
<%- include('partials/head') %>

<body class="">
   <!-- +NAVBAR BOILERPLATE -->
   <%- include('partials/navbar') %>
   <header class="header">
      <h1 class="pt-5 text-center bg-coral py-5 text-kalam  text-white text-shadow-bl">Burnek
      </h1>
   </header>
   <div class="container-fluid py-5 min-vh-100">
      <div class="text-center pb-5">
         <img src="/images/burnek.jpg" alt="" class="img-fluid img-rounded rounded w-50">
      </div>
      <div class="container-fluid text-center py-5">

         <div class="row">
            <div class="column col-lg-5">
               <video id="jvVid1" width="200" controls autoplay" class="w-100 mh-100 py-3">
                  <source src="/videos/burnek1.mp4" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">

               </video>
            </div>
            <div class="column col-lg-2">

               </video>
            </div>
            <div class="column col-lg-5">
               <video id="jvVid2" width="200" controls autoplay" class="w-100 mh-100 py-3">
                  <source src="/videos/burnek2.mp4" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">

               </video>
            </div>
         </div>
      </div>

      <p class="lead">Lorem ipsum keme keme keme 48 years mabaho oblation doonek pinkalou at ang na , na ang kirara
         at
         nang 48 years bakit
         bigalou ugmas pamin paminta na ang nang shonga-shonga wasok.</p>


   </div>
   <!-- +INCLUDE FOOTER BOILERPLATE -->
   <%- include('partials/footer') %>
</body>

</html>