<!-- +HEAD BOILERPLATE -->
<%- include('partials/head') %>

<body>
   <!-- +NAVBAR BOILERPLATE -->
   <%- include('partials/navbar') %>
   <div class="container d-flex align-items-center justify-content-center vh-100">
      <h1>Error 404: Page <span class="text-coral"> <%= req  %></span> not found...</h1>
   </div>


   <!-- +INCLUDE FOOTER BOILERPLATE -->
   <%- include('partials/footer') %>
</body>

</html>