<!-- +HEAD BOILERPLATE -->
<%- include('partials/head') %>

<body>
   <!-- +NAVBAR BOILERPLATE -->
   <%- include('partials/navbar') %>
   <div class="container d-flex align-items-center justify-content-center vh-100">
      <h1>I'm sorry. we couldn't find the <span class="text-coral"> <%= subreddit  %></span> subreddit..</h1>
   </div>


   <!-- +INCLUDE FOOTER BOILERPLATE -->
   <%- include('partials/footer') %>
</body>

</html>