<!-- +HEAD BOILERPLATE -->
<%- include('partials/head')  %>

<body class="bg-alice">
   <!-- +NAVBAR BOILERPLATE -->
   <%- include('partials/navbar') %>
   <div class="container  mx-auto w-100 my-5 ">
      <!-- =SCAM NA MACLAB IN REPEAT -->
      <h1 class="display-5 text-danger px-2 py-2 text-handlee font-weight-bold"><%= tae.repeat(1000) %> </h1>
   </div>
   <!-- +INCLUDE FOOTER BOILERPLATE -->
   <%- include('partials/footer') %>
</body>

</html>