<!-- +HEAD BOILERPLATE -->
<%- include('partials/head')  %>

<body class="bg-alice">
   <!-- +NAVBAR BOILERPLATE -->
   <%- include('partials/navbar') %>
   <div class="container  mx-auto w-100 my-5 ">
      <!-- =SCAM NA MACLAB IN REPEAT -->
      <h1 class="display-5 text-danger px-2 py-2 text-handlee font-weight-bold"><%= tae.repeat(1000) %> </h1>
      <!-- KAPITAN BURNEK -->
      <div class="text-center display-4">
         <a href="/f/burnek" class="text-decoration-none pr-5 text-alice">burnek</a>
         <a href="/f/kapitan" class="text-decoration-none text-alice">kapitan</a>
      </div>
   </div>
   <!-- +INCLUDE FOOTER BOILERPLATE -->
   <%- include('partials/footer') %>
</body>

</html>