* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  height: 30px;
  margin-bottom: 0;
  background-color: #22282d;
}
.container-fluid {
  padding: 0 1% 5% 10%;
}
.navbar {
  background: linear-gradient(rgba(20, 25, 43, 0.87), rgba(12, 11, 19, 0.903));
}

.navbar .navbar-brand {
  font-weight: 600;
  font-family: 'Handlee', cursive;
  /* font-size: 1.1rem; */
  text-shadow: 2px 2px 5px crimson;
}
.navbar .navbar-brand:hover {
  text-shadow: 2px 2px 5px #8914dc;
  transition: color 0.5s, text-shadow 0.5s;
}
.navbar .nav-link,
.navbar .nav-item {
  font-family: 'Ubuntu', sans-serif;
  transition: color 0.5s, text-shadow 0.5s;
}
.navbar .nav-link:hover,
.navbar .nav-item:hover {
  text-shadow: 1px 1px 3px #148fdc;
}

.navbar.scrolled {
  background: linear-gradient(rgba(19, 15, 15, 0.7), rgba(0, 0, 0, 0.7));
  transition: background 500ms;
}
.font-size-2 {
  font-size: 2rem;
}
.text-kalam {
  font-family: 'Kalam', cursive;
}
.text-handlee {
  font-family: 'Handlee', cursive;
}
.text-satisfy {
  font-family: 'Satisfy', cursive;
}
.text-merienda {
  font-family: 'Merienda', cursive;
}
.text-ad {
  font-family: 'Architects Daughter', cursive;
}
.text-tangerine {
  font-family: 'Tangerine', cursive;
}
.text-sil {
  font-family: 'Shadows Into Light', cursive;
}
.text-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.text-open-sans {
  font-family: 'Open Sans', sans-serif;
}
.text-noto-sans {
  font-family: 'Noto Sans JP', sans-serif;
}
.text-shadow-bl {
  text-shadow: 2px 2px 3px black;
}
.text-crimson {
  color: crimson;
}
.bg-coral {
  background-color: coral;
}
.bg-teal {
  background-color: teal;
}
.bg-cyan {
  background-color: cyan;
}
.bg-dodger-blue {
  background-color: dodgerblue;
}
.bg-alice {
  background-color: aliceblue;
}
.img-post {
  max-width: 30%;
  transition: translate 1s, transform 1s;
}
.img-post:hover {
  translate: 300px 0;
  transform: scale(1.5);
}
.side-header {
  font-size: 2rem;
}

@media only screen and (max-width: 500px) {
  .container-fluid {
    padding: 5% 3%;
  }
  .display-2 {
    font-size: 2rem;
  }
  .side-header {
    font-size: 1em;
  }
  .img-post {
    max-width: 100%;
  }
  .img-post:hover {
    translate: 0;
    transform: scale(0);
  }
}
@media only screen and (max-width: 600px) {
  .container-fluid {
    padding: 5% 3%;
  }
  .display-2 {
    font-size: 2rem;
  }
  .side-header {
    font-size: 2rem;
  }
  .img-post {
    max-width: 100%;
  }
  .img-post:hover {
    translate: 0;
    transform: scale(0);
  }
}
